@font-face {
	font-family: paykan;
	font-style: normal;
	font-weight: 100;
	src: url('../assets/fonts/woff/paykan-thin.woff') format('woff'),   
	url('../assets/fonts/woff2/paykan-thin.woff2') format('woff2');		
}

@font-face {
	font-family: paykan;
	font-style: normal;
	font-weight: 300;
	src: url('../assets/fonts/woff/paykan-Light.woff') format('woff'),   
	url('../assets/fonts/woff2/paykan-Light.woff2') format('woff2');	
}

@font-face {
	font-family: paykan;
	font-style: normal;
	font-weight: normal;
	src: url('../assets/fonts/woff/paykan-Regular.woff') format('woff'),   
	url('../assets/fonts/woff2/paykan-Regular.woff2') format('woff2');		 
}

@font-face {
	font-family: paykan;
	font-style: normal;
	font-weight: bold;
	src: url('../assets/fonts/woff/paykan-Bold.woff') format('woff'),   
	url('../assets/fonts/woff2/paykan-Bold.woff2') format('woff2');		 
}

@font-face {
	font-family: paykan;
	font-style: normal;
	font-weight: 900;
	src: url('../assets/fonts/woff/paykan-Black.woff') format('woff'),   
	url('../assets/fonts/woff2/paykan-Black.woff2') format('woff2');	 
}

@font-face {
	font-family: paykan;
	font-style: normal;
	font-weight: 950;
	src: url('../assets/fonts/woff/paykan-ExtraBlack.woff') format('woff'),   
	url('../assets/fonts/woff2/paykan-ExtraBlack.woff2') format('woff2');		 
}
